/* Empty. Add your own CSS if you like */
.filterOptions {
    border-radius: 0px;
}
.list .droplist {
    border-bottom: none;
}
.list .droplist-item chevron {
    float: right;
}
.payouts-list chevron {
    position: absolute;
    top: calc(50% - 10px);
    right: 20px;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.checkbox-blue:before {
    border-color: #387ef5 !important;
}
.transactions-li {
    padding-right: 100px;
}
.transactions-button-view {
    position: absolute;
    top: calc(50% - 45px/2);
    right: 10px;
    z-index: 20;
}
.menuIcon {
    margin-bottom: 2px;
    margin-right: 5px;
    width: 35px;
    vertical-align: middle;
}
.error {
    color: red;
}

.statsHeader {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.spacer {
    height: 20px;
}

.chartContainer {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
    height: 400px;
    width: auto;
}

.newPromo {
    color: #387ef5 !important;
    font-weight: bold !important;
    text-align: center;
    background-color: #f8f8f8 !important;
}

.transactionListEnd {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 35px;
    margin-bottom: 10px;
}

.payoutSpacer {
    height: 45px;
}

.payoutButton, .payoutButton.ng-leave {
    margin-left: auto;
    margin-right: auto;

}

.payoutBar.ng-leave {
  display: block!important;
  -webkit-animation-name: fadeOutDown !important;
  animation-name: fadeOutDown !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Animate .css snippets */
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

 .animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
