<ion-view view-title="Transactions">
  <ion-content>
    <ion-list>

        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" class="checkbox-blue"
                ng-model="filterOptions.unpaid" ng-click="getTransactions()">
            </label>
            Unpaid Transactions Only
        </li>

        <div class="button-bar">
            <ionic-datepicker input-obj="datepickerFrom">
                <a class="button button-positive filterOptions">Start Date</a>
            </ionic-datepicker>
            <ionic-datepicker input-obj="datepickerTo">
                <a class="button button-positive filterOptions">End Date</a>
            </ionic-datepicker>

            <none class="button button-positive filterOptions"
            style="border-right: none;"
            ng-click="selectAll()">Select All</none>
        </div>

        <li class="item item-checkbox transactions-li"
        ng-repeat="transaction in transactions track by transaction._id">
            <label class="checkbox">
                <input ng-class="transaction.paidOut ? 'checkbox-grey' : 'checkbox-blue'"
                ng-disabled="transaction.paidOut"
                type="checkbox"
                ng-model="selectedItems[transaction._id]"
                ng-click="getSelectedItems();" />
            </label>
            Owner: {{transaction.locationId.ownerId.name}} <br />
            Location: {{transaction.locationId.name}}<br />
            User: {{transaction.userId.name}}<br />
            Amount: ${{transaction.amount/100}}<br />
            <a class="button button-outline icon-right ion-chevron-right button-positive transactions-button-view"
            ng-click="goToTransaction(transaction._id)">View</a>

        </li>
    </ion-list>

    <!-- End Of List -->
    <h4 class = "transactionListEnd">
        End of List...
    </h4>

    <!-- Spacer for the payout bar -->
    <div class = "payoutSpacer"
    ng-if="selectedItemsLength > 0">
    </div>

  </ion-content>

  <div class="bar bar-footer bar-positive slideInUp animated payoutBar"
  ng-if="selectedItemsLength > 0"
  ng-click="initiatePayout()">
      <button class="button button-clear button-light payoutButton">
          Payout {{selectedItemsLength}} Item<if ng-if="selectedItemsLength > 1">s</if>
      </button>
  </div>

</ion-view>
