<ion-view view-title="Transactions">
  <ion-content>
    <ion-list>

        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="filterOptions.unpaid" ng-click="getTransactions()">
            </label>
            Unpaid Transactions Only
        </li>

        <div class="button-bar">
            <ionic-datepicker input-obj="datepickerFrom">
                <a class="button button-positive filterOptions">Start Date</a>
            </ionic-datepicker>
            <ionic-datepicker input-obj="datepickerTo">
                <a class="button button-positive filterOptions">End Date</a>
            </ionic-datepicker>

            <a class="button button-positive filterOptions" style="border-right: none;" ng-click="selectAll()">Select All</a>
        </div>
        {{transactionsFiltered}}
        <li class="item item-checkbox" ng-repeat="transaction in transactions track by transaction._id" ng-click="testing()" >
            <label class="checkbox">
                <input type="checkbox" ng-model="selectedItems[transaction._id]" ng-click="refreshSelected()" />
            </label>
            Owner: {{transaction.locationId.ownerId.name}} <br />
            Location: {{transaction.locationId.name}}<br />
            User: {{transaction.userId.name}}<br />
            Amount: {{transaction.amount}}<br />


        </li>
    </ion-list>
  </ion-content>
</ion-view>
